.divRow {
    display: flex;
    justify-content: space-around;
    flex: 1;

    // &.first {
    //     justify-content: flex-end;
    // }

    // &.last {
    //     justify-content: flex-start;
    // }

    div {
        flex: 0 1 200px;
        text-align: center;
    }
}