.headerMenu {
    .headerBtns {
        padding: 5px 20px;
        border: 1px solid black;
        color: black;
        text-decoration: none;
        margin: 0 20px;
        display: inline-block;
    }
}